@import "../../../styles/variables";
@import "../../../styles/mixins";

.profileComponent {
	@apply bg-background font-montserrat text-white;

	.profileRow {
		@apply flex gap-x-6;
		padding: 40px 120px 158px 120px;

		// common styles for different sections
		section {
			@apply bg-primary-default overflow-hidden;
			height: fit-content;
			box-shadow: 0px 4px 6px rgba($primary-4, 0.5);
			border-radius: 30px;
		}

		.sectionHeading {
			@apply w-full bg-secondary-default flex place-items-center justify-center;
			height: 5.1rem;

			h1 {
				@apply -mt-1 font-bold text-primary-default;
				font-size: 26px;
				line-height: 130%;
			}
		}

		.profileBtn {
			@apply py-4 rounded-full mt-3 transition-all duration-200 ease-in-out;
			width: 100%;
			font-size: 18px;
			border: 1px solid $lightWhite;
			background: none;

			&:hover {
				background: $lightWhite;
				color: $background;
			}
		}

		.sectionContent {
			@apply flex flex-col items-center pt-3 pb-6 mx-7 gap-y-8;
		}

		// uniques styles

		.profileColumn1 {
			@apply flex flex-col gap-y-7;
			flex-basis: 30%;

			.mainProfileSection {
				border-bottom: 15px solid #f66b0e;

				.pictureContainer {
					@apply h-fit w-full relative;

					.profilePicture {
						width: 100%;
						height: 350px;
						object-fit: cover;
					}

					.editIcon {
						@apply absolute top-5 right-5 rounded-full bg-secondary-default cursor-pointer transition-all duration-75 ease-in;
						width: 30px;
						height: 30px;
						opacity: 0.8;

						.editPicture {
							@apply w-52 absolute top-1/2 -translate-y-1/2 left-1/2 -translate-x-1/2;
							width: 50px;
						}

						&:hover {
							opacity: 1;
							scale: 1.1;
						}
					}
				}

				.mainContent {
					@apply flex flex-col items-center pt-3 pb-6 mx-7 gap-y-5;

					.userName {
						text-align: center;

						h3 {
							@apply font-bold;
							font-size: 25px;
							line-height: 130%;
						}

						em {
							@apply font-light block;
							margin-top: -5px;
							font-size: 18px;
							line-height: 130%;
						}
					}

					.followsContainer {
						@apply flex justify-evenly w-full;

						div {
							@apply flex flex-col items-center;
							font-size: 20px;
							line-height: 130%;

							p {
								@apply font-light;
								font-size: 16px;
								line-height: 130%;

								&:nth-child(1) {
									@apply font-bold font-catamaran;
									font-size: 24px;
									line-height: 130%;
								}
							}
						}
					}
				}
			}

			.contactSection {
				@apply bg-primary-default;

				.contactInformation {
					@apply grid mt-3 gap-y-5 auto-rows-min;
					grid-template-columns: 40% 60%;

					h4 {
						@apply font-bold flex-none;
						margin-top: 1px;
						font-size: 18px;
						line-height: 130%;
					}

					p {
						font-size: 16px;
						overflow-wrap: break-word;
					}
				}
			}
		}

		.profileColumn2 {
			@apply flex flex-col gap-y-7;
			flex-basis: 70%;

			.cartSection {
				.cartIcon {
					@apply -mt-1 text-primary-default mr-2;
					width: 38px;
				}

				.cartItems {
					@apply grid grid-cols-2 gap-x-6 gap-y-5 mt-4;
				}
			}

			.buildSection {
				.buildIcon {
					@apply -mt-1 mr-2;
					width: 34px;
					stroke-width: 0.105rem;

					path {
						stroke: $primary-default;
					}
				}

				.buildItems {
					@apply flex flex-col mt-3;
					gap: 29px;
				}
			}
		}
	}
}

@media (max-width: 1366px) {
	.profileComponent {
		.profileRow {
			@apply flex-col gap-y-7;

			.profileColumn1 {
				@apply flex-row gap-x-6;

				.mainProfileSection {
					flex-basis: 60%;
				}

				.contactSection {
					flex-basis: 40%;

					.contactInformation {
						height: 380px;
					}
				}
			}
		}
	}
}

@media (max-width: 1060px) {
	.profileComponent {
		.profileRow {
			@apply flex-col gap-y-7;
			padding: 20px 80px 150px 80px;

			// for all sections

			.sectionHeading {
				height: 3.4375rem;

				h1 {
					font-size: 22px;
				}
			}

			.profileBtn {
				font-size: 14px;
			}

			// unique styles

			.profileColumn1 {
				@apply flex-col gap-y-7;

				.mainProfileSection {
					flex-basis: auto;

					.mainContent {
						.userName {
							h3 {
								font-size: 20px;
							}
							em {
								font-size: 16px;
							}
						}

						.followsContainer > div > p {
							font-size: 14px;

							&:nth-child(1) {
								font-size: 20px;
							}
						}
					}
				}

				.contactSection {
					flex-basis: auto;

					.contactInformation {
						height: fit-content;

						h4 {
							font-size: 17px;
						}

						p {
							font-size: 15px;
						}
					}
				}
			}

			.profileColumn2 {
				.cartSection {
					.cartIcon {
						width: 32px;
					}

					.cartItems {
						@apply grid-cols-1;
					}
				}

				.buildSection {
					.buildIcon {
						width: 28px;
						stroke-width: .0813rem;
					}
				}
			}
		}
	}
}

@media (max-width: 860px) {
	.profileComponent {
		.profileRow {
			padding: 20px 50px 150px 50px;
		}
	}
}