@import "../../styles/mixins";
@import "../../styles/variables";

.formContainer {
    @include main-container-1();

    .iconContainer {
		@apply absolute w-full h-full flex;

		.columnIcon {
			@apply w-full h-full relative basis-1/3;

			.printerIcon,
			.chipIcon,
			.monitorIcon,
			.mouseIcon {
				position: absolute;

				g {
					stroke: $primary-default;
				}
			}
			.printerIcon {
				left: -10%;
				bottom: 10%;
				transform: rotate(-13.13deg);
				width: 318.47px;

				g {
					stroke-width: 0.7;
					fill: $background;
				}
			}

			.chipIcon {
				width: 190.29px;
				right: -5%;
				top: 10%;
				transform: rotate(-11.92deg);

				g {
					stroke-width: 1.1;
					fill: $background;
				}
			}

			.monitorIcon {
				width: 236.77px;
				left: -10%;
				top: -2%;
				transform: rotate(19.83deg);

				g {
					stroke-width: 1.1;
					fill: $background;
				}
			}

			.mouseIcon {
				width: 235.77px;
				right: 22%;
				bottom: 15%;
				transform: rotate(-30.42deg);

				g {
					stroke-width: 0.8;
				}
			}
		}
	}
}
