@import "../../../../styles/mixins";
@import "../../../../styles/variables";

.formContainer {
	@include main-container-1();

	.formElement {
		width: min(580px, 100% - 10rem);
		z-index: 10;
	}

	.iconContainer {
		@apply absolute w-full flex;
		height: calc(100% - 3rem);

		.columnIcon {
			@apply w-full h-full relative basis-1/3;

			.printerIcon,
			.chipIcon,
			.monitorIcon,
			.mouseIcon {
				position: absolute;

				g {
					stroke: $primary-default;
				}
			}

			.mouseIcon {
				width: 235.77px;
				left: 15%;
				top: 5%;
				transform: rotate(27.94deg);

				g {
					stroke-width: 0.8;
				}
			}

			.chipIcon {
				width: 190.29px;
				left: 34%;
				bottom: 2%;
				transform: rotate(-11.92deg);

				g {
					stroke-width: 1.1;
					fill: $background;
				}
			}

			.monitorIcon {
				width: 236.77px;
				right: 0;
				top: 15%;
				transform: rotate(-27.57deg);

				g {
					stroke-width: 1.1;
					fill: $background;
				}
			}

			.printerIcon {
				left: -10%;
				bottom: 10%;
				width: 318.47px;
				transform: rotate(15.21deg);

				g {
					stroke-width: 0.7;
					fill: $background;
				}
			}
		}
	}
}
