.images{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 50px auto;
    width: 100%;
    min-height: 70vh;
    gap: 5rem;
}

.imageContainer {
    background-color: #F66B0E;
    height: 329px;
    width: 329px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}

.imageContainerHover{
    cursor: pointer;
}

.imageContainerBottom {
    height: 112px;
    background-color: #F66B0E;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.image{
    width: 20rem;
    height: 20rem;
    color: #eee;
    border-radius: 10px;
    // box-shadow: 3px 3px 3px #9e9e9e;
    overflow: hidden;
}

.image img{
    display: block;
    width: 100%;
}

.pagination {
    width: 40rem;
    height: 3rem;
    color: white;
    position: relative;
    background-color: #1E2126;
    left: 50%;
    transform: translate(-50%, 5%);
    margin-top: 1rem;
    margin-bottom: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 0.5rem;
    display: flex;
    flex-wrap: wrap;
}

.pagination .pageNum{
    padding: 13px 15px;
    cursor: pointer;
    border-radius: 3px;
    font-weight: 400;
}

.pagination .pageNum:hover{
    background-color: #F66B0E;
    color: #fff;
}

.pagination .active{
    background-color: #F66B0E;
}


