@import "../../styles/mixins";
@import "../../styles/variables";

.termMain {
    @apply bg-background flex flex-col justify-center items-center;
	padding-block: 1rem 3rem;
}

.termDiv{
    @apply  flex flex-col justify-center items-center 
    bg-primary-default box-border rounded-lg;

width: 97%;

 }

 .termText{
    @apply text-secondary-default font-bold align-top;
    font-size: 3rem;
    padding-block: 5rem;
}

.termBody {
    @apply text-justify text-white;
    height: 50%;
    padding: 5rem 20% 10% 20%;
    font-size: 20px;
}

.termBody {
    @apply text-justify text-white;
    height: 50%;
    padding: 5rem 20% 10% 20%;
    font-size: 20px
}