.search {
    background: #121416;
    border-radius: 100px;
    height: 3rem;
    padding-left: 1rem;
    width: 95%;
    color: white;
}

.button {
    padding: 8px;
    background-color: rgb(18, 20, 22);
    margin-left: 12px;
    width: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 9999px;
    fill: #F66B0E;
}