$background: #121416;
$lightWhite: #EFEFEF;

$primary-default: #1E2126;
$primary-1: #6B728E;
$primary-2: #50577A;
$primary-3: #474E68;
$primary-4: #404258;
$primary-5: #333840;

$secondary-default: #F66B0E;
$secondary-light: #F19B61;

$accent-1: #112B3C;
$accent-2: #205375;