$background: #121416;
$lightWhite: #efefef;

$primary-default: #1e2126;
$primary-1: #6b728e;
$primary-2: #50577a;
$primary-3: #474e68;
$primary-4: #404258;
$primary-5: #333840;
$primary-6: #666c87;

$secondary-default: #f66b0e;
$secondary-light: #f19b61;

$accent-1: #112b3c;
$accent-2: #205375;

$blue-default: #0066ff;

$red-default: #ff2121;
$red-secondary: #ff0000;

$green-default: #23d77e;

$yellow-default: #FFF618;