@import "../../styles/variables";
@import "../../styles/mixins";

.inputForm {
	@apply max-w-full cursor-text h-[57px] rounded-md px-3 transition-all duration-100 ease-in relative hover:border-primary-1;
	border: 1px solid rgba($primary-1, 0.5);

	label {
		@apply block text-xs font-light text-primary-1 leading-6  cursor-text transition-all duration-100 ease-in;
		letter-spacing: 0.005rem;
	}

	input {
		@apply text-base;
		width: 93%;
		letter-spacing: -0.015em;
		color: rgba(black, 0.8);

		&:focus,
		&:active {
			outline: none;
		}
	}

	input[type="password"]::-ms-reveal {
		display: none;
	}

	.eyeIcon {
		@apply inline-block absolute right-4 top-1/2 translate-y-[-50%] cursor-pointer;

		svg {
			@apply transition delay-100 ease-in-out;
		}
	}
}

.inputActive {
	border: 1px solid black !important;

	label {
		color: black !important;
	}
}

.checkSection {
	@apply flex items-center ml-4;
	font-size: 14px;

	label {
		margin-left: 13px;
		line-height: 13px;
		letter-spacing: -0.015em;
	}
	input[type="checkbox"] {
		width: 17px;
		height: 17px;
	}

	a {
		@include link();
	}
}
