@import "../../styles/variables";
@import "../../styles/mixins";

.inputForm {
	@apply max-w-full cursor-text h-[57px] rounded-md px-3 transition-all duration-100 ease-in relative hover:border-primary-1;
	border: 1px solid rgba($primary-1, 0.5);

	label {
		@apply block text-xs font-light text-primary-1 leading-6  cursor-text transition-all duration-100 ease-in;
		letter-spacing: 0.005rem;
	}

	input {
		@apply text-base;
		width: 93%;
		letter-spacing: -0.015em;
		color: rgba(black, 0.8);

		&:focus,
		&:active {
			outline: none;
		}
	}

	input[type="password"]::-ms-reveal {
		display: none;
	}

	.eyeIcon {
		@apply inline-block absolute right-4 top-1/2 translate-y-[-50%] cursor-pointer;

		svg {
			@apply transition delay-100 ease-in-out;
		}
	}
}

.inputActive {
	border: 1px solid black !important;

	label {
		color: black !important;
	}
}

.checkSection {
	@apply flex items-center ml-4 mb-3;
	font-size: 14px;

	label {
		margin-left: 13px;
		line-height: 13px;
		letter-spacing: -0.015em;
	}
	input[type="checkbox"] {
		width: 17px;
		height: 17px;
	}

	a {
		@include link();
	}
}

.title {
	padding-left: 2px;

	h3 {
		@apply text-base;
		letter-spacing: -0.015em;
		color: rgba(black, 0.8);
	}
	hr {
		border-top: 1px solid black;
	}
}

.radioChoice {
	input,
	label {
		letter-spacing: -0.015em;
		color: rgba(black, 0.8);
	}
	input[type="radio"] {
		margin-right: 1rem;
	}
	input[type="radio"],
	label {
		cursor: pointer;
	}
}

.titleInformation {
	@apply flex gap-2 items-center mt-1;
	padding-left: 4px;

	h3 {
		letter-spacing: -0.015em;
		color: rgba(black, 0.8);
	}

	.informationContainer {
		@apply relative;

		.informationIcon {
			margin-top: -4px;
			width: 10px;
		}
		.informationText {
			@apply absolute z-10 border bg-primary-2 text-lightWhite text-2xs px-3 py-2 rounded-lg;
			top: -2px;
			left: 2px;
			letter-spacing: 0.01rem;
			line-height: 12px;
			width: 18rem;
		}
	}
}

.fileSection {
	@apply flex flex-col justify-center items-center max-w-full cursor-pointer h-48 rounded-md transition-all duration-100 ease-in relative hover:border-primary-1;
	border: 1px solid rgba($primary-1, 0.5);
	margin-top: -0.5rem;

	&:hover > .fileAddIcon {
		fill: $primary-2;
	}
	&:hover > .fileAddText {
		color: $primary-2;
		font-weight: normal;
	}

	.fileAddIcon {
		@apply transition-all duration-200 ease-in;
		height: 66px;
		fill: rgba($primary-1, 0.5);
	}
	.fileIcon {
		height: 66px;
		fill: $primary-2;
	}
	p {
		@apply font-light text-primary-1 transition-all duration-100 ease-in;
		font-size: 13px;
		line-height: 36px;
		letter-spacing: 0.005em;
	}
	.fileName {
		color: $primary-2;
		font-weight: normal;
	}
}
