@import "../../../../styles/variables";
@import "../../../../styles/mixins";

.store {
    @apply w-full bg-primary-default flex flex-col gap-3;
    padding: 20px 40px 21px 40px;
    border-radius: 10px;

    .storeName {
        @apply flex items-center gap-4 font-bold;
        .shopIcon {
            width: 22px;
            margin-top: 2px;
        }
    }
    .itemCheckout {
        @apply flex flex-col gap-y-1; 
        .itemLists {
            @apply flex flex-col gap-3;
            margin-left: 23px;

            
            .quantity {
                @apply text-center self-start mt-8;
                min-width: 50px;
            }
        }

        .storeCheckoutDetails {
            @apply bg-primary-5 rounded-lg flex flex-col justify-center;
            box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
            margin-left: 23px;

            hr {
                border-color: black;
                margin: 0;
                padding: 0;
            }

            div {
                @apply flex items-center py-2 px-3;
                

                .totalPrice {
                }
            }

            .message {
                @apply gap-x-3;
                input[type="text"] {
                    @apply w-full bg-primary-5 hover:border-b border-white;

                    &:focus {
                        @apply border-b;
                        outline: none;
                    }
                }
            }

            .priceContainer {
                @apply flex justify-between;

                .totalPrice {
                    @apply font-bold text-2xl text-secondary-default;
                }
            }
        }
    }
}