nav {
    height: 60px;
    padding-inline: 25px;
}

ul {
    font-size: 15px;
}

.home {
    width: 60px;
}

.shop {
    width: 50px;
}

.build-your-pc {
    width: 50px;
}

.forum {

}

.tech-101, .repair {
    width: 77px;
}

.repair {

}

.about-us {
    width: 88px;
}

@media (min-width: 640px) {
    
}

@media (min-width: 768px) {
    
}

@media (min-width: 1024px) {
    
}

@media (min-width: 1280px) {
    
}

@media (min-width: 1536px) {
    
}