.container {
    width: 20rem;
    height: 3rem;
    color: white;
    position: relative;
    background-color: #1E2126;
    left: 50%;
    transform: translate(-50%, 5%);
    margin-top: 1rem;
    margin-bottom: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 0.5rem;
    
}

.hoverPage {
    color: white;
    
};

.hoverPage:hover {
    color: #F66B0E;
    cursor: pointer;
}

.nextButton {
    opacity: 0.5;
    width: 1.5rem;
    height: 1.5rem;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
}

.nextButton:hover {
    opacity: 1;
    cursor: pointer;
}