@import "../../../../styles//mixins";
@import "../../../../styles/variables";

.main {
    @apply w-2/3 mb-3 p-5 font-montserrat rounded-md mr-3;
    background-color: #1E2126;
    color: #efefef;

    .header {
        @apply font-bold text-xl mb-2;
    }

    .specifications {
        @apply w-full px-10 py-5 rounded-md;
        background-color: #333840;
    }
}