@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

.home-carousel {

  .swiper-button-prev {
    left: 30;
    color: #f66b0e;
    opacity: 30%;
    &:hover {
      opacity: 100%;
    }
  }

  .swiper-button-next {
    right: 30;
    color: #f66b0e;
    opacity: 30%;
    &:hover {
      opacity: 100%;
    }
  }

  .swiper-pagination-progressbar .swiper-pagination-progressbar-fill {
    background: var(--swiper-pagination-color, #f66b0e);
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    transform: scale(0);
    transform-origin: left bottom;
  }

  .swiper-pagination-horizontal {
    bottom: 0;
  }

  a {
    font-family: 'Montserrat';
  }

  h1 {
    letter-spacing: 0.085em;
  }

  p {
    font-family: "Roboto";
    letter-spacing: 0.085em;
  }
}
