@import "../../styles/mixins";
@import "../../styles/variables";

.privacyMain {
    @apply bg-background flex flex-col justify-center items-center;
	padding-block: 1rem 3rem;
}

.privacyDiv{
    @apply  flex flex-col justify-center items-center 
    bg-primary-default box-border rounded-lg;

width: 97%;
 }

 .privacyText{
    @apply text-secondary-default font-bold align-top;
    font-size: 3rem;
    padding-block: 5rem;
}

.privacyBody {
    @apply text-justify text-white ;
    height: 50%;
    padding: 5rem 20% 10% 20%;
    font-size: 20px;
}